#Enjoyy{
    margin-top: 3pc;
    color: #6e6eaa;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}
#abut{
    animation:flipInY;
    animation-duration: 3s;
    animation-delay: 0.1s;
}
#Enjjoy{
    margin-left: 30px;
    margin-top: 10vh;
 /* background: #19191a; */
}
#Enjjoy img{
    box-shadow: 10px 10px 9px #6e6eaa;
    border-left: 3px solid #19191a;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: eimg 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
@keyframes eimg {
    from{transform: translateX(350px); opacity: 0.2;}
    to{transform: translateX(0px); opacity: 1;}
}
#Enjjoy p{
    color: #19191a;
}
#enn{
    background-color: black;
    color:#bbbbbb ;
}
#enn h2{
    color: #309e5a;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 10px 13px 30px;
    font-style: oblique;
}
