#main{
    background-color: #8338ecdc;
}
label{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 9px;
    font-variant: small-caps;
    color: rgba(212, 208, 212, 0.808);
    text-shadow: 10px 8px 10px black;
}

input,select{
    background-color: rgb(39, 32, 32);
    /* color: steelblue; */
    color: aliceblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid darkolivegreen;
    border-radius: 10px 22px ;
    box-shadow: 12px 10px 11px black;
}
input::placeholder{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}
button:hover{
   /* text-decoration: 2px solid underline lawngreen; */
   box-shadow: 15px -10px 14px 5px black;
}

#circle{
    margin-top: -5pc;
    margin-left: 40pc;   
}