#cont{
    height: 69vh;
    background-color: #0a9396;
    margin: 20px;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation:fadeInUpBig;
    animation-duration: 3s;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
#cont:hover{
    box-shadow: 10px 10px 16px;
    cursor: pointer;
}
#help{
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
   animation:fadeInUp;
   animation-duration: 3s;
    animation-timeline: view();
    animation-range: entry 7% cover 40%;
}
#cimg:hover{
    animation:flash ;
    animation-duration: 2s;
    cursor: pointer;
}

#email:hover{
    padding: 0;
    margin: 0;
    color: aliceblue;
}
#phone{
    height: 70vh;
    background-image: url(assets/Contact/5cb0633d80f2cf201a4c3253.png);
    background-position: center;
    background-size: 40vh;
    background-repeat: no-repeat;
    /* background-position-x: 39pc; */
    filter: drop-shadow(26px 18px 11px );
}
#phone img:hover{
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 30px;
    filter: drop-shadow(10px 10px 10px);
}