::-webkit-scrollbar {
    width: 17px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(163, 119, 119); 
    border-radius: 10px;
    background-color: rgb(4, 3, 5);
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(52, 119, 99); 
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a0c5ba; 
  }